<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>SimplicialSurface</title>
		<style>
			body { margin: 0; }
		</style>


	</head>
	<body>

<script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>


	<script type="importmap">
		{
			"imports": {
				"three": "https://unpkg.com/three@0.148.0/build/three.module.js",
				"three/addons/": "https://unpkg.com/three@0.148.0/examples/jsm/",
				"gui": "https://unpkg.com/dat.gui@0.7.9/build/dat.gui.module.js"
			}
		}
	</script>


		<script type="module">
			import * as THREE from 'three';
			import { OrbitControls } from 'three/addons/controls/OrbitControls.js';
			import { GUI } from 'gui';
			import { CSS2DRenderer, CSS2DObject } from 'three/addons/renderers/CSS2DRenderer.js';

			//start scene and camera
			const scene = new THREE.Scene();
			const camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 100 );

			const renderer = new THREE.WebGLRenderer({ antialias: true });
			renderer.setSize( window.innerWidth, window.innerHeight );
			document.body.appendChild( renderer.domElement );

			//Lights
			const skyColor = 0xFFFFFF;
			const skyIntensity = 0.3;
			const skyLight = new THREE.AmbientLight(skyColor, skyIntensity);
			scene.add(skyLight);

			const color = 0xFFFFFF;
			const intensity = 1;
			const light = new THREE.PointLight(color, intensity);
			light.position.set(0, 3, -5);
			scene.add(light);

			//create groups to add everything to
            const meshRoot = new THREE.Group();
            const wireRoot = new THREE.Group();
            const vertexRoot = new THREE.Group();
			const vertexlabelRoot = new THREE.Group();
			const edgeRoot = new THREE.Group();
			const ringRoot = new THREE.Group();
			const normalsRoot = new THREE.Group();
			const normalMeshRoot = new THREE.Group();

			//parameters for the controls on the top right
            var guiParameters = new function() { 
                this.speedX = 0.0; 
                this.speedY = 0.0; 
                this.speedZ = 0.0;
                this.transparency = 1;
                this.edgeVisibility = false;
				this.vertexVisibility = true;
				this.vertexlabelVisibility = true;
				this.vertexSize = 1;
				this.planeX = 0.0;
				this.minX = -1.5;
				this.maxX = 1.5;
                this.planeXactive = false;
                this.planeY = 0.0;
				this.minY = -1.5;
				this.maxY = 1.5;
                this.planeYactive = false;
                this.planeZ = 0.0;
				this.minZ = -1.5;
				this.maxZ = 1.5;
                this.planeZactive = false;
				this.normalsMaterial = false;
            } ;

			const planeX = new THREE.Plane( new THREE.Vector3( 1, 0, 0 ), guiParameters.planeX );
            const planeY = new THREE.Plane( new THREE.Vector3( 0, 1, 0 ), guiParameters.planeY );
            const planeZ = new THREE.Plane( new THREE.Vector3( 0, 0, 1 ), guiParameters.planeZ );

            var localPlanes = [];

			//rederer for lables
            const labelRenderer = new CSS2DRenderer();
            labelRenderer.setSize( window.innerWidth, window.innerHeight );
            labelRenderer.domElement.style.position = 'absolute';
            labelRenderer.domElement.style.top = '0px';
            document.body.appendChild( labelRenderer.domElement );
            
            //controls for mouse 
            const controls = new OrbitControls( camera, labelRenderer.domElement );

			//controls in the top right corner
            var gui = new GUI();

			const animationFolder = gui.addFolder("Animations");
            animationFolder.add(guiParameters, 'speedX', 0, 5);
            animationFolder.add(guiParameters, 'speedY', 0, 5);
            animationFolder.add(guiParameters, 'speedZ', 0, 5);
            animationFolder.open();

            const controlFolder = gui.addFolder("Controls");
            controlFolder.add(guiParameters, "transparency", 0, 1);
            controlFolder.add(guiParameters, "edgeVisibility");
            controlFolder.add(guiParameters, "vertexVisibility");
            controlFolder.add(guiParameters, "vertexlabelVisibility");
            controlFolder.add(guiParameters, "vertexSize", 0.1, 3);
            controlFolder.add(guiParameters, "normalsMaterial");
            controlFolder.open();

            //generate a sphere geometry for the vertices
            const sphereGeometry = new THREE.SphereGeometry( 0.02, 32, 16 );
			sphereGeometry.transparent = guiParameters.vertexVisibility;
