\documentclass{standalone}
\usepackage{tikz}

% Safely define the edge drawing macro
\newcommand{\drawEdges}[4]{
    \ifnum#1=#2\relax 
        % Render Self Loops
        \ifnum#3>0\relax
            \foreach \i in {1,...,#3} {
                \path[->] (v#1) edge[selfloop=\i] (v#1);
            }
        \fi
    \else
        % Render Multiedges A -> B
        \ifnum#3>0\relax
            \foreach \i in {1,...,#3} {
                \path[->] (v#1) edge[multiedge=\i] (v#2);
            }
        \fi
        
        % Render Multiedges B -> A 
        \ifnum#4>0\relax
            \foreach \i in {1,...,#4} {
                \pgfmathtruncatemacro{\idx}{-(#3 + \i)}
                \path[->] (v#2) edge[multiedge=\idx] (v#1);
            }
        \fi
    \fi
}

\begin{document}

\begin{tikzpicture}[
    >=latex,
    vertex/.style={circle, draw, minimum size=6mm, inner sep=1pt},
    declare function={
        multibend(\n) = sign(\n) * (1 - 2*mod(abs(\n), 2)) * 15 * int(abs(\n)/2);
    },
    multiedge/.style={bend left={multibend(#1)}},
    % Force math evaluation before passing to in/out keys
    selfloop/.style={
        /utils/exec={
            \pgfmathsetmacro{\myout}{(#1-1)*45 + 115}
            \pgfmathsetmacro{\myin}{(#1-1)*45 + 65}
            \pgfmathsetmacro{\myloose}{5 + int((#1-1)/8)*3}
        },
        loop, out=\myout, in=\myin, looseness=\myloose
    }
]